{% extends "pages/user_dashboard/base.html" %}
{% load static %}

{% block dashboard_content %}
    {% include "pages/user_dashboard/fragments/address_manager.html" %}

    <!-- Libraries -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="{% static 'js/common/toast_manager.js' %}"></script>
    <script src="{% static 'js/common/alert_manager.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

    <style>
        [x-cloak] { display: none !important; }
    </style>
{% endblock dashboard_content %}