{% load static %}
<!DOCTYPE html>

<html lang="fr">
  {% include "pages/home/includes/_head.html" %}
  
<body class="bg-background-light text-slate-900 antialiased">
<!-- BEGIN: MainHeader -->
{% include "pages/home/includes/_nav_bar.html" %}
<!-- END: MainHeader -->

{% block content %}


{% endblock %}

  {% include 'pages/home/includes/_footer.html' %}

  <!-- Scripts -->
  <script src="{% static 'js/common/toast_manager.js' %}"></script>
  <script src="{% static 'js/cart.js' %}"></script>
  <script src="{% static 'js/wishlist.js' %}"></script>

  <div class="hidden">{% csrf_token %}</div>

  <script>
    if (window.lucide) {
      lucide.createIcons();
    }
  </script>
<!-- END: Footer -->
</body></html>