{% extends 'pages/base.html' %}

{% block content %}

<main>
<!-- BEGIN: HeroSection -->
{% include "pages/home/partials/hero_section.html" %}
<!-- END: HeroSection -->
<!-- BEGIN: AboutSection -->

  {% include "pages/home/partials/about_us.html" %}

<!-- END: AboutSection -->
<!-- BEGIN: ProductGrid -->

  {% include "pages/home/partials/product_grid.html" %}

<!-- END: ProductGrid -->
<!-- BEGIN: WhyChooseUs -->

  {% include "pages/home/partials/why_choose_us.html" %}

<!-- END: WhyChooseUs -->
<!-- BEGIN: ProfessionalSolutions -->

  {% include "pages/home/partials/professional_solutions.html" %}

<!-- END: ProfessionalSolutions -->
<!-- BEGIN: FlashSaleArea -->

  {% include "pages/home/partials/flash_sale_area.html" %}

<!-- END: FlashSaleArea -->
<!-- BEGIN: PromotionBanner -->

  {% include "pages/home/partials/promotion_banner.html" %}

<!-- END: PromotionBanner -->
<!-- BEGIN: HowItWorks -->

  {% include "pages/home/partials/how_it_works.html" %}

<!-- END: HowItWorks -->
<!-- BEGIN: Testimonials -->

  {% include "pages/home/partials/testimonials.html" %}

<!-- END: Testimonials -->
<!-- BEGIN: BlogSection -->

  {% include "pages/home/partials/blog_section.html" %}

<!-- END: BlogSection -->
<!-- BEGIN: FinalCTA -->

  {% include "pages/home/partials/final_cta.html" %}

<!-- END: FinalCTA -->
</main>
<!-- BEGIN: Footer -->

{% endblock %}