<section class="py-20 bg-white">
<div class="container mx-auto px-4">
<div class="flex flex-col lg:flex-row items-center gap-12">
<div class="w-full lg:w-1/2">
<div class="relative">
<img alt="Équipe SIMAD" class="rounded-2xl shadow-2xl w-full h-[450px] object-cover" src="https://lh3.googleusercontent.com/aida-public/AB6AXuC6aAjtGYOmiFrCQYMo-fGFx6dQ1CwwI0fVt6gOdmcjCayP-YT9gK0RkvDLvHoJzDwJPEtAM6FayGg0MWjxNlQDczfU_AJn5VNtsvU1B-PYOKEle3UytnmMFkkZf9mlG1nhdHLfpxKGvqpJvMSfhNtvP15dCZ0AxTZwo2v_CzuSShdHxFMVuYXDipkRROV4md33hLhWj72QzSBWUM-vgJM6hS4IFNKnreH3D3JEzk9joIR3EcmvTJyOjwxwzaa0ji2bDTPhSQsffQc"/>
<div class="absolute -bottom-6 -right-6 bg-primary p-8 rounded-2xl hidden md:block">
<p class="text-white text-4xl font-bold">15+</p>
<p class="text-blue-100 text-sm">Années d'expérience</p>
</div>
</div>
</div>
<div class="w-full lg:w-1/2 space-y-6">
<h2 class="text-3xl md:text-4xl font-bold text-primary">À propos de SIMAD</h2>
<p class="text-lg text-slate-600 leading-relaxed">Depuis plus d'une décennie, SIMAD s'impose comme le leader de la distribution de solutions d'hygiène professionnelle au Cameroun. Nous ne vendons pas seulement des produits ; nous offrons des protocoles de nettoyage complets pour garantir un environnement sain.</p>
<p class="text-lg text-slate-600 leading-relaxed">Notre mission est d'élever les standards de propreté à travers des innovations technologiques et des produits respectueux de l'environnement.</p>
<ul class="space-y-3">
<li class="flex items-center text-slate-700 font-medium"><svg class="w-5 h-5 text-accent mr-3" fill="currentColor" viewbox="0 0 20 20"><path clip-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" fill-rule="evenodd"></path></svg> Standards Européens</li>
<li class="flex items-center text-slate-700 font-medium"><svg class="w-5 h-5 text-accent mr-3" fill="currentColor" viewbox="0 0 20 20"><path clip-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" fill-rule="evenodd"></path></svg> Accompagnement technique</li>
</ul>
</div>
</div>
</div>
</section>