<section class="py-20 bg-slate-50">
<div class="container mx-auto px-4">
<div class="text-center mb-16">
<h2 class="text-3xl font-bold mb-4">Ils nous font confiance</h2>
<p class="text-slate-500">Avis de professionnels du secteur</p>
</div>
<div class="grid grid-cols-1 md:grid-cols-3 gap-8">
<div class="bg-white p-8 rounded-2xl shadow-sm border border-slate-100 italic">
<p class="mb-6 text-slate-600 text-lg">"SIMAD est notre partenaire depuis 5 ans. La qualité des produits de désinfection est irréprochable pour notre clinique."</p>
<div class="flex items-center gap-4">
<img alt="Client" class="w-12 h-12 rounded-full object-cover" src="https://lh3.googleusercontent.com/aida-public/AB6AXuB74KhqVt9Q03RqENw12RiUUwFfNICOMNQl9bL2osgXkGKr9hdI2PAcV5FSt-SQ-ZvmFVSGaEDUQY22MWiAZ-4B48t7WicCqQl-BhxI8DRd3bSJN5k7Hmc708rbOXXT9JKg8tu5wtUuJE56PGTqaq-c95y_WLLuNu67BuN7GXN07_4HulNIaglxNZAeaOHKUPGPTAgKcSrqvWMeZGoXaHpZvtQaBqYQBkzq7zSQbTNpc8YfaFUjbCuFv_FcC9xSqR3MUlXaZBHoyOA"/>
<div>
<p class="font-bold text-slate-800">Dr. Jean-Paul T.</p>
<p class="text-sm text-slate-400">Directeur Médical</p>
</div>
</div>
</div>
<div class="bg-white p-8 rounded-2xl shadow-sm border border-slate-100 italic">
<p class="mb-6 text-slate-600 text-lg">"Une réactivité incroyable ! Les commandes arrivent toujours à l'heure, ce qui est crucial pour notre restaurant."</p>
<div class="flex items-center gap-4">
<img alt="Client" class="w-12 h-12 rounded-full object-cover" src="https://lh3.googleusercontent.com/aida-public/AB6AXuAL8ANS1Hy3e9YO3qAvxwkk3tAD4GaFffchAMFA2-WXwPssqTYl8KU-W8scaq60z_KBH84iZxfSYV3qm6Ub-YgU0dUkjsZQX4ocKuJ8LoZ4XaC2_OBuqqc3nyTyLwsA5yZvyN2serApekk_IWnhyp7rzYK1HQ6q37uypLH7rbBJsxm67oE-JCeJyPTufBj_tKERoOLqLNKojdSetLss26hOluF1_gy1HAHPpAZ5PMfW3pmJVee6ZAx07wtG1WbFSK7QMI5JthieCYU"/>
<div>
<p class="font-bold text-slate-800">Marc E.</p>
<p class="text-sm text-slate-400">Gérant de Restaurant</p>
</div>
</div>
</div>
<div class="bg-white p-8 rounded-2xl shadow-sm border border-slate-100 italic">
<p class="mb-6 text-slate-600 text-lg">"Les solutions de nettoyage industriel de SIMAD ont optimisé le temps d'entretien de nos bureaux de 30%."</p>
<div class="flex items-center gap-4">
<img alt="Client" class="w-12 h-12 rounded-full object-cover" src="https://lh3.googleusercontent.com/aida-public/AB6AXuDdrzrG7aVwIexRLap2tpVhC_TzGnnSCLCxPvb8aQkW1tSrj0uAlCpCsfR3AOyVXs5ya9Czpo1yfDIw7HK_I0UsqnzPiyI5-laEs1Lnllq5x4clQFh9B8NtcBvM2kG7YlM-PT3AxcBCrqzTf9HqN6wY4i9X-T_60wvrcLtWo7haR4h0fTpNf0eGgrhNWyAGhJOQlGpbdbJKrn4G5c_RQBbtDxhQXhyOhwpwSEiq5rxaj5usH8IMH98hGI2gQEN0jhb5vJp5HW-bWrc"/>
<div>
<p class="font-bold text-slate-800">Sarah M.</p>
<p class="text-sm text-slate-400">Responsable FM</p>
</div>
</div>
</div>
</div>
</div>
</section>
